@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/react-reflex/styles.css';
@import '../node_modules/react-datepicker/dist/react-datepicker.css';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* why is this set ?
 * 1rem is set by bootstrap
 * but is only appied in dev, NOT IN PRODUCTION!!!! 
 */
.form-group {
  margin-bottom: 16px;
}

@media print {

  /**
   * ensure html and body
   * have no margins, no padding,
   * grow and overflow as needed
   */
  html,
  body,
  #root {
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    width: auto !important;
    overflow: visible !important;
  }
}
